<div class="container">
    <header class="d-flex justify-content-end py-3">
      <ul class="nav nav-pills">
        <li class="nav-item"><a href="/" class="nav-link {{#if activedPageCad}} active {{/if}}" aria-current="page">Cadastrar</a></li>
        <li class="nav-item"><a href="/users" class="nav-link {{#if activedPageUsers}} active {{/if}}">Listar</a></li>
      </ul>
    </header>
  </div>