<div class="bg-light p-5 rounded mt-5">
    <h2 class="text-primary">Cadastrar funcionário</h2>
    {{>_msg}}
    <form action="/register" method="post">
        <div class="row mt-5">
            <div class="col-md-3 mb-4">
                <label for="name" class="form-label">Nome completo</label>
                <input type="text" class="form-control" id="name" name="name" placeholder="Informe o nome">
            </div>
            <div class="col-md-4">
                <label for="email" class="form-label">Endereço de email</label>
                <input type="email" class="form-control" id="email" name="email" placeholder="Informe o email">
            </div>
            <div class="col-md-3">
                <label for="salary" class="form-label">Salário</label>
                <input type="number" class="form-control" id="salary" name="salary" placeholder="Informe o salario">
            </div>
            <div class="col-md-2 mt-2">
                <button type="submit" class="btn btn-outline-primary mt-4 w-100">Cadastrar</button>
            </div>  
        </div>
    </form>
</div>